body{
    background: #DEDEDE;
}

a:focus,
a:hover {
    outline: none;
    text-decoration: none;
}

.sliding-tabs-carousel{
    visibility: hidden;
}

.sliding-tabs-carousel .sliding-tabs {
    border: none;
}

.sliding-tabs-carousel ul li,
.tabbarcarousel-arrow {
    display: none;
}

.sliding-tabs-carousel .dropdown-menu li {
    display: block;
}

#years-dropdown {
    margin-top: 15px;
}

@media (min-width: 768px) {

    .sliding-tabs-carousel {
        border-bottom-color: #A0B2C1;
    }

    .tabbarcarousel-arrow {
        background: #A0B2C1;
        color: #fff;
    }

    a.tabbarcarousel-arrow.inactive,
    a.tabbarcarousel-arrow.inactive:hover {
        color: #bebebe;
    }

    .sliding-tabs-carousel {
        border-bottom-width: 6px;
    }

    .sliding-tabs-carousel {
        border-bottom-style: solid;
        margin-bottom: 15px;
        margin-top: 15px;
        overflow: hidden;
        padding: 0 16px;
        position: relative;
    }

    .sliding-tabs-carousel .form-group {
        display: none !important;
    }

    .sliding-tabs-carousel ul li {
        display: block;
        width: 63px;
    }

    .sliding-tabs-carousel ul li a {
        height: auto;
        padding: 7px 0;
        text-align: center;
    }

    .tabbarcarousel-arrow {
        display: block;
        position: absolute;
        text-align: center;
        top: 0;
        width: 16px;
        z-index: 1;
    }

    a.tabbarcarousel-arrow.inactive,
    a.tabbarcarousel-arrow.inactive:hover {
        cursor: default;
    }

    .tabbarcarousel-arrow-left {
        left: 0;
    }

    .tabbarcarousel-arrow-right {
        right: 0;
    }

    .sliding-tabs-carousel .sliding-tabs {
        left: 0;
        margin-bottom: 0;
    }

    #years-dropdown {
        display: none;
    }
}

.sliding-tabs-carousel li a {
    font-weight: bold;
}

.sliding-tabs {
  position: relative;
}

.sliding-tab {
    position: absolute;
    will-change: left, right;
    background: #fff;
}

.nav-tabs > li {
    margin-bottom: 0;
    width: auto;
}

.nav-tabs > li > a {
    border: none;
    border-radius: 0;
    font-family: "Helvetic Neue", Helvetica, Arial, sans-serif;
    font-size: 115%;
    height: 42px;
    margin-right: 0;
}

.nav > li > a:focus,
.nav > li > a:hover {
    background-color: transparent;
}

.nav-tabs > li.active > a {
    moz-transition: color 1s;
    o-transition: color 1s;
    webkit-transition: color 1s;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    color: #225582;
    background-color: transparent;
    border: none;
    border-bottom-color: transparent;
    cursor: default;
    position: relative;
    z-index: 1;
}